
.publish-media{
	padding-bottom: 40px;

	h3{
		font-size: 1.3rem;
		margin-bottom: 20px;
		text-transform: uppercase;
	}//h3


	.media{
		margin-top: 10px;

		.media-left{
			padding-right: 15px;

			img{
				width: 34px;
			}
		}//media-left


		.media-heading{
			font-family: $roboto;
		}//media-heading

		.media-heading + small{
			color: #888;
		}

	}//media

}//publish-media